body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.bb-field-label {
  font-weight: bold;
  width: 20%;
}

.bb-lightbox-header {
  margin-bottom: 15px;
}

.bb-explanation {
  size: .9em;
  font-style: italic;
}

.new-contact {
  width: 100%;
}

.header {
  margin-bottom: 20px;
}

.total-records {
  padding: 5px 5px 5px 15px;
}

.total-records-number {
  font-weight: bold;
}

.deep-field-add {
  margin-left: 20px;
  margin-bottom: 3px;
}

.pop-out-input-field {
  position: absolute;
  z-index: 99;
  border: solid;
  box-shadow: 5px 5px 2px #888888;
}
